<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Rails Bootstrap', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
