doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : '<%= app_name.underscore.titleize %>'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : '<%= app_name.underscore.titleize %>'}"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => 'reload'
    == javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    == csrf_meta_tags
  body
    / application layout styled for Bootstrap 2.3
    header
      == render 'layouts/navigation'
    main[role="main"]
      .container
        .content
          .row
            .span12
              == render 'layouts/messages'
              == yield
          footer
