-# navigation styled for Bootstrap 2.3
.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse.collapse
        .navbar.navbar-fixed-top
          %nav.navbar-inner
            %ul.nav
              = link_to 'Home', root_path, class: 'brand'
              = render 'layouts/navigation_links'
