-# Rails flash messages styled for Zurb Foundation 4
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert-box #{name == :notice ? "warning" : "alert"}", "data-alert" => ""}
      = content_tag :div, msg, :id => "flash_#{name}"
      %a.close{:href => "#"} &times;
