<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%%= content_for?(:title) ? yield(:title) : "<%= app_name.underscore.titleize %>" %></title>
    <meta name="description" content="<%%= content_for?(:description) ? yield(:description) : "<%= app_name.underscore.titleize %>" %>">
    <%%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%%# Modernizr is required for Zurb Foundation 4 %>
    <%%= javascript_include_tag "vendor/custom.modernizr" %>
    <%%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%%= csrf_meta_tags %>
  </head>
  <body>
    <%%# application layout styled for Zurb Foundation 4 %>
    <header>
      <%%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="twelve columns">
              <%%= render 'layouts/messages' %>
              <%%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
